<?xml version="1.0" encoding="UTF-8"?>  

<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gab = "http://phonegab.com/ns/1.0"
  id = "com.phonegab.example5"
  version = "1.0.0">
  
<name> app4 Datos del Dispositivo </name>

<description>
 Aplicacion que realiza la vibración y beep del Dispositivo
 </description>
 
 <author href="https://build.phonegab.com" email="elviramzg194@gmail.com">
  elvira munoz zambrano 4to g
 </author>
 
 <!-- Perzonaliza la aplicacion y plataforma -->
 <preference name="orientation" value="default"/>
 <!-- <preference name="orientation" value="portrait"/>
 <preference name"orientation" value="landscape"/> -->
 <preference name="target-device" value="universal"/>
 <preference name="fullscreen" value="true"/>
 <preferance name="android-installLocation" value="auto"/>
 <preferance name="premissions" value="INTERNET"/>
 
 <!-- Plugins -->
 <!-- Core Plugins -->
<plugin name="cordova-plugin-device" spec="~1.1.4"/>
<plugin name="cordova-plugin-vibration" spec="~2.1.3"/>
<plugin name="cordova-plugin-dialogs" spec="~1.3.1"/>

<!-- <plugin name="cordova-plugin-geolocation" sourse="npm"/> -->
  <!-- Third party plugins --> 
  
   <!-- Colocar icono app -->
   
<icon src="res/android/mdpi.png"/>

</widget>


